@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// Colors
$card-bg : hsl(235, 46%, 20%);
$body-bg : hsl(226, 43%, 10%);


// Font-weights

$light : 300;
$regular : 400;
$medium : 500;

$h2-size : 35px;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body
{
    background: $body-bg;
}
.cardBox
{
    width: 15rem;
    padding-top: 1rem;
    border-radius:  25px;
    .IconImg
    {
        text-align: end;
        width: 20px;
    }   
    .cardData
    {
        border-radius:  25px;
        text-align: center;
        color: white;
        background: $card-bg;
        padding: 2rem;
        margin: 1rem 0;
        h6
        {
            font-weight: $regular;
        }
        h2
        {
            font-weight: $light;
            padding: 1rem;
            text-align: start;
            font-size: $h2-size;
        }
    }
}

